
<p>Dear customer,</p>
<p>Thank you for registering.</p>
{% if services.membership|length > 2 %}  
<p>Your user name and library card number:</p>
<p>user name  : {{username}}<br/>
card number: {{barcode}}</p>
<p>You can now make reservations and borrow books from our library. Visit our catalogue at <a href=http://catalogue.ppl.nl/>http://catalogue.ppl.nl/</a></p>
<p>Please visit the library to obtain your library card and get access to online available publications. You will have to show this email for verification.</p>
<p>Do not forget you need a valid ID when coming to the library.</p>
{% endif %}
{% if services.receiveMails|length > 2 %}  
<p>You will receive e-mails from our library.</p>
{% endif %}
{% if services.receiveNews|length > 2 %}  
<p>You will receive newsletters from our library.</p>
{% endif %}
{% if services.receiveAlerts|length > 2 %}  
<p>You will receive alerts from our library.</p>
{% endif %}
<p>Kind regards,</p>
<p>Peace Palace Library,<br/>
Reading Room Staff<br/><br/>
website: http://www.peacepalacelibrary.nl<br/>
e-mail: peacelib@ppl.nl<br/>
telephone: +31-(0)70-3024242</p>
<p>read our privacy policy: http://www.peacepalacelibrary.nl/privacy/</p>
<p>----------------</p>
<p>If, for any reason, you are getting this e-mail by mistake, please hit the reply button and tell us to unsubscribe. Sorry for the inconvenience.</p><br/>
